<template>
  <div id="app">
    <Randomizer/>
    <div class="footer">
      Created by <a href="https://aureutr.tumblr.com">Aureutr Accoredge</a> with data help from Caro
      <br/>
      Text content sourced from <a href="https://starwars.fandom.com">Wookiepedia</a>
    </div>
  </div>
</template>

<script>
import Randomizer from './components/Randomizer.vue'

export default {
  name: 'App',
  components: {
    Randomizer
  }
}
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 60px;
  }

  body {
      background-color: #111;
      color: #FFE300;
  }

  a, a:visited {
    color: #FFE300;
  }

  .footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
  }
</style>
